<!DOCTYPE html>
<html>
<head>
	<title>Book Reviews</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="header">
			<a href="/books">Home</a>
			<a href="/books/new">Add a Book and Review</a>
			<a href="/logout">Logout</a>
		</div>
		<div>
			<h3>Name: {{user.name}}</h3>
			<h3>Email: {{user.email}}</h3>
			<h3>Total Reviews: {{user.num_reviews}}</h3>

			<h4>Post Reviews on the following Books</h4>
			<ul>
				{% for book in reviews %}
					<li><a href="/books/{{book.id}}">{{book.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>